<!DOCTYPE html>
<html>
  <head>
    <title>Paranoia Scroller</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
  </head>
  <body>
    <div id='songlist_container'></div>
    <script src="/javascripts/songlist.js"></script>
  </body>
</html>
